@img-size:100%;
@intro-width:55%;
@img-width:100%;
@text-align:center;
@paragraph-size:18px;
@margin-top:10px;
@white-color:#fff;
@trans-bg:transparent;
@box-shadow:none;
@black-background:#000;
@intro-border:none;
@intro-form:100%;
@float-l:left;
@border-radius:50%;
@social-icon-width:20px;
@intro-footer-text-color:#6e6767;
@form-focus-opacity:0.8;
@display-block:block;
@font-weight:bold;
@uppercase:uppercase;
@inline-block:inline-block;
@header-fonts:'Scada', sans-serif;
@paragraph-fonts:'Catamaran', sans-serif;
@box-shadow-none:none;
@black-bg:#000;
@border-radius:50%;
@list-style:none;
@overflow-hidden:hidden;
@z-index-999:999;
@img-width:100%;
@height-100vh:100vh;
@position-absolute:absolute;
@plus-icon-bg:#444;
@plus-icon-border-color:#ddd;
@plus-icon-border-size:2px;
@float-r:right;
@settings-right-icon-border-size:1px;
@tabbar-bg:#666;
@tabbar-margin:auto;
@settings-content-all-bg:#444;
@settings-footer-bg:#fff;
@yellow-color:yellow;
@white-bg:#fff;
@article-color:#ddd;



